<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        html, body {
            width: 100% !important;
            min-width: 100% !important;
        }
    </style>
</head>
<body class="h-screen bg-zinc-900 text-white p-4">
    <div class="nav mb-10">
        <a class="text-blue-500" href="/read">Read users</a>
    </div>
    <h1 class="text-3xl tracking-tighter mb-3 ">Update User</h1>
    <form action="/update/<%= users._id%>" method="post" class="flex gap-4 w-full max-w-4xl">
        <input name="name" type="text" class="flex-1 items-top px-5 py-2 border-2 border-zinc-800 outline-none bg-zinc-900 text-white rounded-md" placeholder="Name" required value="<%= users.name %>">
        <input name="email" type="email" class="flex-1 px-5 py-2 border-2 border-zinc-800 outline-none bg-zinc-900 text-white rounded-md" placeholder="Email" required value="<%= users.email %>">
        <input name="image" type="text" class="flex-1 px-5 py-2 border-2 border-zinc-800 outline-none bg-zinc-900 text-white rounded-md" placeholder="Image URL" required value="<%= users.image %>">
        <input type="submit" value="Update User" class="w-auto px-5 py-2 bg-blue-500 text-orange rounded-md cursor-pointer hover:bg-yellow-600">
    </form>
</body>
</html>
